@import "tailwindcss";

/* removing all input default styles */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 9999s ease-in-out 0s;
}

@theme {
  --color-mainColor-950: oklch(12.9% 0.042 264.695);

  /* fonts */
}
.logo_font {
  @apply text-2xl font-bold md:text-4xl;
}
.description_font {
  @apply text-lg font-bold md:text-3xl;
}
